@import '../../scss/variables.scss';
@import '../../scss/saber-war.scss';

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px; 

  .battlefield {
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  img {
    width: 60px;
  }

  .slb {
    -webkit-animation: saber-war-blue 2s infinite; /* Safari 4.0 - 8.0 */
    animation: saber-war-blue 2s infinite;
  }

  .slr {
    -webkit-animation: saber-war-red 2s infinite; /* Safari 4.0 - 8.0 */
    animation: saber-war-red 2s infinite;
  }

}