@-webkit-keyframes saber-war-red {
    0% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
    10% {
      transform: rotateY(-180deg) rotate(-60deg);
      transform-origin: bottom left;
    }
    30% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    35% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    40% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    45% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    50% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    55% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    60% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    70% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    75% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    80% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    100% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
  }
  
  @keyframes saber-war-red {
    0% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
    10% {
      transform: rotateY(-180deg) rotate(-60deg);
      transform-origin: bottom left;
    }
    30% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    35% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    40% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    45% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    50% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    55% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    60% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    70% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    75% {
      transform: rotateY(-180deg) rotate(-0deg);
      transform-origin: bottom left;  
    }
    80% {
      transform: rotateY(-180deg) rotate(-2deg);
      transform-origin: bottom left;  
    }
    100% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
  }

  @-webkit-keyframes saber-war-blue {
    0% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
    10% {
      transform: rotateY(-180deg) rotate(-30deg);
      transform-origin: bottom left;
    }
    30% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    35% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    40% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    45% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    50% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    55% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    60% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    70% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    75% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    80% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    100% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
  }
  
  @keyframes saber-war-blue {
    0% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
    10% {
      transform: rotateY(-180deg) rotate(-30deg);
      transform-origin: bottom left;
    }
    30% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    35% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    40% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    45% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    50% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    55% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    60% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    70% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    75% {
      transform: rotateY(-180deg) rotate(-90deg);
      transform-origin: bottom left;  
    }
    80% {
      transform: rotateY(-180deg) rotate(-88deg);
      transform-origin: bottom left;  
    }
    100% {
      transform: rotateY(-180deg) rotate(-45deg);
      transform-origin: bottom left;
    }
  }